.DS_Store
.gradle
/.gradle/
/build/
out/
!gradle/wrapper/gradle-wrapper.jar
**/out/**
**/tmp-*.*
**/out-*.txt
**/.DS_Store
**/gz-accounts/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
pet-lover-out.json
t1.json

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.bpmn/
bin/
